#contenedor {
  display: flex;
  flex-grow: 1;
  height: 80vh; /* Altura */
  width: 100vw; /* Ancho */
  background-image: url('01.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative; /* Necesario para posicionar elementos hijos absolutamente */
}

.texto {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  position: absolute; /* Posiciona este elemento dentro del contenedor */
  color: #e03e8aec;
  top: 40px; /* Ajusta según sea necesario */
  left: 40px; /* Ajusta según sea necesario */
  width: 90%;
  height: 110px;
  background-color: #da96b65e;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  padding: 10px;
  margin-top: 10px;
}
#parrafo {

  display: flex;
  flex-grow: 1;
  position: absolute; /* Posiciona este elemento dentro del contenedor */
  color: #e03e8aec;
  font-family: Arial, Helvetica, sans-serif;
  padding: 90px;
  margin-top: 90px;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #d875a35e; /* Color de fondo de la página */
}

.nav-link {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #e22e82ec; /* Color de los enlaces por defecto */
}

.nav-link:hover {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #e03e8aec; /* Color de los enlaces al pasar el cursor */
}

.nav-link.active {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #920949ec; /* Color del enlace activo */
}

.nav-link.disabled {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #e03e8aec;
}
#gatos{
  display: flex;
  flex-grow: 1;
  position: absolute; /* Posiciona la imagen absolutamente dentro de su contenedor */
  top: 80%; /* Ajusta la posición vertical */
  left: 50%; /* Ajusta la posición horizontal */
  transform: translate(50%, -50%); /* Centra la imagen en su contenedor */
  width: 50px; /* Ancho de la imagen */
  height: 20px; /* Altura automática para mantener la proporción */

}
.carousel-item img {

  width: 100%; /* Asegurar que las imágenes ocupen todo el ancho del carrusel */
  height: 500px; /* Altura fija del carrusel */
  object-fit: cover; /* Ajustar la imagen para cubrir el área del carrusel */
  max-width: 900px; /* Ancho máximo del carrusel */
  margin: -20px auto 0; /* Mueve el carrusel 20 píxeles hacia arriba */
  position: relative;
  display: inline-block; /* Para que los elementos sean contiguos */
  transform: translateX(0%); 
      }
      #footer {
        color: #d32e7bc9;
        background-color: #f579b15e;
        padding: 10px;
        text-align: center;
        position: relative;
        bottom: 0;
        width: 100%;
      }
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}